#buffer-list
  position: fixed
  bottom: 0
  left: 0
  top: 0
  width: 200px
  display: flex
  flex-direction: column
  background: #efefef

  .buffer-button
    text-align: left
    background: #333
    padding: 10px 15px
    border: 0
    border-bottom: 1px solid white
    color: white
    font-size: 17px
    -webkit-box-flex: 1
    -ms-flex: 1 0 100%
