#message-list
  background-image: linear-gradient( 135deg, #5EFCE8 0%, #736EFE 100%)
  display: flex
  flex-direction: column
  overflow-y: auto

  .message
    background: white
    padding: 10px
    color: #333