@import "bufferData"
@import "buffers"
@import "chatInput"
@import "joinButton"

@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic,cyrillic-ext,latin-ext")
@import url('https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic,cyrillic-ext,latin-ext')

html, body
  font-family: 'PT Sans', sans-serif
  margin: 0
  padding: 0
  height: 100%
  width: 100%
  min-width: 730px

*, *:after, *:before
  box-sizing: border-box

button:focus
  outline: none