@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic,cyrillic-ext,latin-ext);#buffer-data {
  position: fixed;
  left: 200px;
  right: 0;
  top: 0;
  bottom: 0;
  padding-bottom: 50px;
  background-image: linear-gradient(135deg, #92FFC0 0%, #002661 100%);
}

#buffer-data header h3 {
  margin: 0;
  color: #333;
  font-weight: 500;
  padding: 10px;
  background: white;
}

#buffer-data #message-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  height: calc(100% - 39px);
}

#buffer-data #message-list .message {
  background: white;
  padding: 10px;
  color: #333;
  margin: 10px;
  width: 500px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#buffer-list {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #B24B42;
}

#buffer-list .buffer-button {
  background: transparent;
  text-align: left;
  padding: 12px 15px;
  border: 0;
  border-bottom: 1px solid #FF9A92;
  color: white;
  font-size: 17px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
}

#buffer-list .buffer-button:hover {
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

#chat-form {
  position: fixed;
  left: 200px;
  bottom: 0;
  right: 0;
}

#chat-form #chat-input {
  padding: 15px;
  width: 100%;
  border: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  outline: 0;
}

html,
body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

